/*CSS file*/

body{
	background-color:#f4f9ff;
	padding: 0;
	margin: 0;
	background-image: url("../images/Gbackground.jpg");
	background-attachment: fixed;
}

h1{
	color: #f4f9ff;
	text-align: center;
	font-family: 'Sigmar One', cursive;
	font-size: 50pt;
	background-color: #552700;
	margin: 0;
	height: 300px;
	padding-top: 5%;
}

h2{
	color: #552700;
	text-align: center;
	font-family: 'Sigmar One', cursive;
	font-size: 30pt;
}


h3{
color:black;
text-align: right;
}


p {
	color: #552700;
	font-family: 'Rammetto One', cursive;
	font-size: 15pt;
}



#TopPic{
	text-align: left;
}


.imagePair{
	float:left;
	/* width: 30%; */
}

#i1 {
	width: 10px;
}

#i2 {
	width: 30px;
}